@font-face {
    font-family: GramatikaBlack;
    src: url('GramatikaBlack.ttf');
}

@font-face {
    font-family: GramatikaBold;
    src: url('GramatikaBold.ttf');
}

@font-face {
    font-family: GramatikaMedium;
    src: url('GramatikaMedium.ttf');
}

@font-face {
    font-family: GramatikaLight;
    src: url('GramatikaLight.ttf');
}