@import "styles/variables";

.categories{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -1rem 0 2rem 0;

  .active{
    border: 2px solid $blue;
    color: $blue;
    opacity: 1;
  }

  p{
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 5rem;
    border: 2px solid transparent;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.4s ease;
  }
}