@import "styles/variables";

.navbar{
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    display: inline-flex;

    img{
      height: 2rem;
    }

    h2{
      margin: 0 0 0 0.5rem;
      font-size: 1.5rem;
    }
  }

  .navItems{
    list-style: none;
    display: flex;

    li{
      margin: 0 1rem;
      transition: 0.4s ease;

      div{
        opacity: 0.7;
        display: inline;
      }

      &:hover{
        color: $blue;
        opacity: 0.6;
      }
    }
  }

  .buttons{

    a:nth-child(1){
      transition: 0.4s ease;

      &:hover{
        color: $blue;
        opacity: 0.6;
      }
    }

    a:nth-child(2){
      margin-left: 1rem;
      padding: 0.8rem 1.6rem;
      background: rgba($blue, 0.1);
      border-radius: 3rem;
      color: $blue;
      transition: 0.4s ease;

      &:hover{
        background: rgba($blue, 0.2);
      }
    }
  }
}